/* Header */
header {
    background: var(--uni-blau-1);
    color: white;
    padding: 0.8rem 2rem;
}

.header-lines {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.line {
    height: 10px;
    width: 100%;
}

.line-1 {
    background: var(--uni-blau-3);
}

.line-2 {
    background: var(--uni-blau-2);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.header-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.header-subtitle {
    /* color: var(--physik-gelb); */
    font-size: 1rem;
    opacity: 0.9;
    font-weight: 400;
}

.theme-toggle {
    position: absolute;
    top: 1rem;
    right: 2rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.theme-toggle:hover {
    transform: scale(1.2);
}

.theme-toggle img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.session-debug {
    /* color: var(--jura-rot); */
    color: var(--physik-gelb);
    /* background-color: white; */
}