<div class="container">
    <div class="card">
        <h1>
            <span *ngIf="currentView === 'damped_osc1'">Test: Gedämpfte Schwingungen (1/5)</span>
            <span *ngIf="currentView === 'intro_exp2'">Einstieg Versuchsaufbau (2/3)</span>
            <span *ngIf="currentView === 'intro_exp3'">Einstieg Versuchsaufbau (3/3)</span>
            <span *ngIf="currentView === 'intro_exp4'">Eingangsfrage gedämpfter harmonischer Oszillator</span>
        </h1>

        <!-- Page 1 -->
        <div *ngIf="currentView === 'damped_osc1'">
            <app-test-order-images
                [questionId]="question1.questionId"
                [question]="question1.question"
                [questionInstruction]="question1.questionInstruction"
                [images]="question1.images"
                [correctOrder]="question1.correctOrder"
                [maxPoints]="question1.maxPoints"
                [containerId]="question1.containerId"
                (onSubmit)="onQuestion1Submit($event)">
            </app-test-order-images>
        </div>

    <!-- forward button - bottom right, conditionally enabled -->
    <div class="button-container">
        <!-- a for links -->
        <button *ngIf="isFirstPage" routerLink="/learning/intro-experiment" class="btn" [disabled]="!canGoBack">← Zurück zum Versuchsaufbau</button>
        <!-- button for actions -->
        <button *ngIf="!isFirstPage" class="btn" (click)="goBack()" [disabled]="!canGoBack">← Zurück</button>
        
        <button class="btn" (click)="goForward()" [disabled]="!canProceed">
            Weiter →
        </button>
    </div>
</div>