/* glossary: lamp box */
.glossary-lamp {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background: linear-gradient(135deg, #e3f2fd 0%, #f5f9ff 100%);
    border-left: 4px solid var(--bright-blue);
    border-radius: 6px;
    transition: all 0.3s ease;
}

/* .glossary-lamp {
    background: linear-gradient(135deg, #e3f2fd 0%, #f5f9ff 100%);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(33, 150, 243, 0.2);
    margin-bottom: 2rem;
    border: 2px solid var(--uni-blau-1);
} */

.glossary-lamp-title {
    font-size: 1.4rem;
    color: var(--uni-blau-1);
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.glossary-lamp-text {
    color: var(--uni-blau-1);
    line-height: 1.7;
    margin: 0;
}

/* glossary: write box */
.glossary-write {
    background: var(--altweiss);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(33, 150, 243, 0.2);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid var(--grau-80);
}

/* glossary: write box */
.glossary-look {
    background: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(33, 150, 243, 0.2);
    margin-bottom: 2rem;
    border: 2px solid var(--grau-80);
}

.glossary-text {
	color: black;
	opacity: 1;
}

.glossary-write ul {
    margin-left: 2rem;
    margin-top: 1rem;
}

.glossary-write ol {
    margin-left: 2rem;
    margin-top: 1rem;
}

.glossary-write li {
    margin-bottom: 0.5rem;
}

.plot-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    margin: 1.5rem auto 0;
    border-radius: 8px;
}

.glossary-link {
    color: var(--glossary-link-color);
}

.glossary-link:hover {
    color: var(--glossary-link-color-hover);
}